
@{
    ViewData["Title"] = "Index";
}

<section style="margin-top: 100px" class="module pt-0 pb-0">
    <div class="row position-relative m-0">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="module-title font-alt align-left">Menu Management</h2>
                <p class="module-subtitle font-serif align-left">Bean Scean Administation Board</p>
                <section style="margin-bottom: 390px" class="module pt-0 pb-0">



<a href=" " class="btn btn-primary">Add New MenuItem</a>
<a href=" " class="btn btn-primary">View Category</a>

<h3>Display existing menu item table</h3>


