@{
    ViewData["Title"] = "Contact";
}
@section LoginShashin{
    <section class="module bg-dark-30" style='background-image: url("/lib/assets/images/section-4.jpg");'>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt mb-0">Contact</h2>
                </div>
            </div>
        </div>
    </section>
}
<section style="margin-top: 100px; margin-bottom: 100px;" class="module pt-0 pb-0">
    <div class="row position-relative m-0">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="module-title font-alt align-left">Our Contact</h2>
                <p class="module-subtitle font-serif align-left">Any question and concern, please contact us </p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-8">
                <form id="contactForm" role="form" method="post" action="php/contact.php">
                    <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input class="form-control" type="text" id="name" name="name" placeholder="Your Name*" required="required" data-validation-required-message="Please enter your name.">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" placeholder="Your Email*" required="required" data-validation-required-message="Please enter your email address.">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="7" id="message" name="message" placeholder="Your Message*" required="required" data-validation-required-message="Please enter your message."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Submit</button>
                    </div>
                </form>
                <div class="ajax-response font-alt" id="contactFormResponse"></div>
            </div>
            <div class="col-sm-4">
                <div class="alt-features-item mt-0">
                    <div class="alt-features-icon"><span class="icon-megaphone"></span></div>
                    <h3 class="alt-features-title font-alt">Where to meet</h3>BeanScene Restaurant<br>121 Ferry Rd<br>Glebe, 2037 NSW
                </div>
                <div class="alt-features-item mt-xs-60">
                    <div class="alt-features-icon"><span class="icon-map"></span></div>
                    <h3 class="alt-features-title font-alt">Say Hello</h3>Email: somecompany@example.com<br>Phone: +1 234 567 89 10
                </div>
            </div>
        </div>
    </div>
</section>
