@model Sitting
@{
    ViewData["Title"] = "Created";
}

<div class="row position-relative m-0">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="module-title font-alt align-left">Manage Sitting</h2>
            
        </div>
    </div>
</div>

<a href="~/Administration/Sitting/Main/" class="btn btn-d btn-circle">Back to Sitting</a>

<hr class="divider-w mt-10 mb-20">
<div class="row">
    <h2> Sittings Created Successfully! </h2>
</div>

